/******************************************************************************
  App Container
*******************************************************************************/
.pcube-ui {
  .ui-body {
    max-height: calc(100vh - 64px);
    overflow-y: auto;
  }
}

/******************************************************************************
  Common Padding and Margin classes
******************************************************************************/
.padding-0 {
  padding: 0 !important;
}
.margin-0 {
  margin: 0 !important;
}
